body {
  background-color: #e5e5e5;
  color: black;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}
.container {
  width: 1600px;
}
ul {
  list-style: none;
}
.logo-text {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
}
.logo-text-color {
  color: #2196f3;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
}
.link:hover,
.link:focus {
  color: #2196f3;
  font-weight: 500;
}
.nav-link {
}
